span {
  background-color: palevioletred;
  border: 1px solid black;
  width: 500px;
  padding: 100px;
  margin: 50px;
  /* display: inline-block; */
}

h1 {
  width: 300px;
  background-color: paleturquoise;
  border: 1px solid black;
  padding: 50px;
  margin: 100px;
  display: none;
}

div {
  width: 200px;
  height: 200px;
  background-color: olivedrab;
  border: 5px solid black;
  display: inline-block;
  margin: 50px;
}
