section {
  width: 80%;
  height: 800px;
  margin: 0 auto;
  /* background-image: url("https://plus.unsplash.com/premium_photo-1674067599055-3c7efab0f4b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80");
  background-size: cover;
  background-position: bottom; */
  background: center/cover
    url("https://plus.unsplash.com/premium_photo-1674067599055-3c7efab0f4b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80")
    no-repeat;
}

h1 {
  font-size: 100px;
  color: white;
}
