body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  text-align: center;
}

#container {
  background-color: #003049;
  width: 90%;
  /* height: 200px; */
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* align-content: center; */
}

#container div {
  width: 200px;
  height: 200px;
  /* max-width: 300px; */
  /* text-align: center; */
  flex-basis: 600px;
}

div:nth-of-type(1) {
  flex-grow: 1;
  flex-shrink: 2;
}

div:nth-of-type(3) {
  flex: 1 1 100px;
}

div:nth-of-type(5) {
  flex-grow: 2;
  flex-shrink: 0;
}

main {
  width: 80%;
  display: flex;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
}

/* Flex: flex-grow (number), flex-shrink (number), flex-basis (px or %) */

main .sidebar {
  background-color: #6930c3;
  flex: 1 2;
}

main .maincontent {
  background-color: #80ffdb;
  flex: 2 1;
}
