* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-decoration: rgb(100, 45, 212) underline;
  text-align: center;
  font-weight: normal;
  /* letter-spacing: 20px; */
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4;
}
